<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>{% load static %}
<h1>Welcome to online FIR system.Please Login</h1>
<form action=' {% url 'getecomp' %} ' method='post'> {% csrf_token %} 
   
        <div class="imgcontainer">
          <img src="{%static 'shop/EComplaint.png' %}" alt="Avatar" class="avatar">
        </div>


      
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required><br><br><br>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required><br>
      
          <button type="submit">Login</button> 
          <input type="button" onclick="window.location.href = '{%url 'Shophome' %}' ;" value="Cancel" />
          <input type="checkbox" checked="checked" name="remember"> Remember me
          </label><br>
        
        <span class="psw"><a href="{%url 'regis' %}">Create new Account?</a></span>
        </div>
        <div class="container" style="background-color:#f1f1f1">
          
          <span class="psw">Forgot <a href="{%url 'Shophome' %}">password?</a></span>
        </div>
      </form>
      

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>